body{

margin:0;

background:#0f172a;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

font-family:Poppins,sans-serif;

}

.login-box{

background:#1e293b;

padding:40px;

border-radius:15px;

width:420px;

box-shadow:0 0 25px rgba(0,0,0,.4);

}

h1{

color:white;

text-align:center;

}

input{

width:100%;

padding:15px;

margin-top:15px;

border:none;

border-radius:8px;

}

button{

width:100%;

padding:15px;

margin-top:20px;

border:none;

background:#38bdf8;

color:white;

font-size:18px;

border-radius:8px;

cursor:pointer;

}

a{

color:#38bdf8;

}
